<ion-header>
  <ion-navbar [hideBackButton]="true">
      <ion-title>
          Usuarios
      </ion-title>

      <ion-buttons end>
          <button (click)="cerrarSession()" ion-button icon-only>
              <ion-icon name="log-out"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-list-header>Usuarios</ion-list-header>
      <ion-item *ngFor="let usuario of listUsuarios" detail-push (click)="openEditUsuarioModal($event, usuario)">
          <h1>{{usuario.payload.doc.data().email}}</h1>
          <p *ngIf="usuario.payload.doc.data().administrador === true">Administrador: Si</p>
          <p *ngIf="usuario.payload.doc.data().administrador === false">Administrador: No</p>
          <p *ngIf="usuario.payload.doc.data().industrial === true">Industrial: Si</p>
          <p *ngIf="usuario.payload.doc.data().industrial === false">Industrial: No</p>
          <!-- <p>Reservas: {{usuario.payload.doc.data().reservas}}</p> -->
      </ion-item>
  </ion-list>

  <ion-fab right bottom>
      <button (click)="openNewUsuarioModal()" ion-fab>
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>