<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email" [readonly]="flagButton === true"></ion-input>
    </ion-item>
    <ion-item *ngIf="flagButton === false">
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" [disabled]="flagButton === true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>¿Administrador?</ion-label>
      <ion-toggle formControlName="administrador"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>¿Industrial?</ion-label>
      <ion-toggle formControlName="industrial"></ion-toggle>
    </ion-item>

    <button ion-button block class="submit-button" type="submit" *ngIf="flagButton === false" [disabled]="!registerForm.valid">Registrar</button>
    <button ion-button block class="submit-button" type="submit" *ngIf="flagButton === true" [disabled]="!registerForm.valid">Actualizar</button>
    <label class="error-message">{{errorMessage}}</label>
    <br>
  </form>
</ion-content>
