<ion-header>
  <ion-navbar>
      <ion-title>
          Lavanderia
      </ion-title>

      <ion-buttons end>
          <button navPush="lavadoraFormPage" ion-button>
            <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-list-header>Lavadoras</ion-list-header>
      <ion-item *ngFor="let l of lavadorasList | async" detail-push navPush="lavadoraFormPage" [navParams]={lavadora:l}>
          <ion-thumbnail item-start>
              <img [src]="l.foto" [hidden]="l.foto == null">
          </ion-thumbnail>
          <h1>{{l.name}}</h1>
          <p>Peso: {{l.weight}}</p>
          <p *ngIf="l.bigLoad === true">Industrial: Si</p>
          <p *ngIf="l.bigLoad === false">Industrial: No</p>
      </ion-item>
  </ion-list>
</ion-content>