<ion-header>
  <ion-navbar>
      <ion-title>
          Lavanderia
      </ion-title>

      <ion-buttons end>
          <button navPush="lavadoraFormPage" ion-button>
            <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-list-header>Lavadoras</ion-list-header>
      <ion-item *ngFor="let lavadora of listLavadoras | async" detail-push navPush="lavadoraFormPage" [navParams]={lavadora:lavadora}>
          <ion-thumbnail item-start>
              <img [src]="lavadora.foto" [hidden]="lavadora.foto == null">
          </ion-thumbnail>
          <h1>{{lavadora.name}}</h1>
          <p>Peso: {{lavadora.weight}}</p>
          <p *ngIf="lavadora.bigLoad === true">Industrial: Si</p>
          <p *ngIf="lavadora.bigLoad === false">Industrial: No</p>
      </ion-item>
  </ion-list>
</ion-content>