<ion-header>
    <ion-navbar [hideBackButton]="true">
        <ion-title>
            Lavanderia
        </ion-title>

        <ion-buttons end>
            <button (click)="cerrarSession()" ion-button icon-only>
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>Lavadoras</ion-list-header>
        <ion-item *ngFor="let lavadora of listLavadoras" detail-push [navPush]="pushPage" [navParams]={lavadora:lavadora}>
            <ion-thumbnail item-start>
                <img [src]="lavadora.payload.doc.data().foto" [hidden]="lavadora.payload.doc.data().foto == null">
            </ion-thumbnail>
            <h1>{{lavadora.payload.doc.data().marca}}</h1>
            <p>Capacidad: {{lavadora.payload.doc.data().peso}} lb</p>
            <p>Precio Hora: {{lavadora.payload.doc.data().precio | currency}}</p>
            <p *ngIf="lavadora.payload.doc.data().estado === true">Estado: Activo</p>
            <p *ngIf="lavadora.payload.doc.data().estado === false">Estado: Inactivo</p>
            <p *ngIf="lavadora.payload.doc.data().industrial === true">Industrial: Si</p>
            <p *ngIf="lavadora.payload.doc.data().industrial === false">Industrial: No</p>
            <p>Rele No. {{lavadora.payload.doc.data().rele}}</p>
        </ion-item>
    </ion-list>

    <ion-fab right bottom>
        <button [navPush]="pushPage" ion-button>
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>