<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form class="form" [formGroup]="validationForm" (ngSubmit)="onSubmit(validationForm)">
    <ion-item>
      <ion-label>Lavadora</ion-label>
        <ion-select formControlName="lavadora" (ngModelChange)="buscarPrecio($event)">
          <ion-option *ngFor="let lavadora of lavadoras" [value]="lavadora.payload.doc.id">{{ lavadora.payload.doc.data().marca + '(' + lavadora.payload.doc.data().peso + ' lb)' }}</ion-option>
        </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.lavadora">
        <div class="error-message" *ngIf="validationForm.get('lavadora').hasError(validation.type) && (validationForm.get('lavadora').dirty || validationForm.get('lavadora').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item *ngIf="reserva.precio">
      <ion-thumbnail item-start *ngIf="fotoLavadora">
          <img [src]="fotoLavadora" [hidden]="fotoLavadora == null">
      </ion-thumbnail>
      <ion-label>Valor Hora</ion-label>
      <ion-label>{{ reserva.precio | currency }}</ion-label>    
    </ion-item>

    <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime formControlName="fecha_inicio" displayFormat="YYYY/MM/DD" pickerFormat="YYYY/MM/DD" [min]="fechaMinima"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.fecha_inicio">
        <div class="error-message" *ngIf="validationForm.get('fecha_inicio').hasError(validation.type) && (validationForm.get('fecha_inicio').dirty || validationForm.get('fecha_inicio').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Hora Inicio</ion-label>
      <ion-datetime formControlName="hora_inicio" displayFormat="hh:mm A" pickerFormat="hh A"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.hora_inicio">
        <div class="error-message" *ngIf="validationForm.get('hora_inicio').hasError(validation.type) && (validationForm.get('hora_inicio').dirty || validationForm.get('hora_inicio').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Hora Fin</ion-label>
      <ion-datetime formControlName="hora_fin" displayFormat="hh:mm A" pickerFormat="hh A"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.hora_fin">
        <div class="error-message" *ngIf="validationForm.get('hora_fin').hasError(validation.type) && (validationForm.get('hora_fin').dirty || validationForm.get('hora_fin').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <button ion-button full type="submit" *ngIf="flagButton === false" [disabled]="!validationForm.valid">Guardar</button>
    <button ion-button full type="submit" *ngIf="flagButton === true" [disabled]="!validationForm.valid">Actualizar</button>
    <button ion-button full color="danger" (click)="confirmEliminar()" *ngIf="flagButton === true">Eliminar</button>
  </form> 

</ion-content>