<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
      <ion-label>Lavadora</ion-label>
      <ion-select [(ngModel)]="reserva.lavadora">
        <ion-option *ngFor="let lavadora of lavadoras" [value]="lavadora.payload.doc.id">{{ lavadora.payload.doc.data().marca + '(' + lavadora.payload.doc.data().peso + ' lb)' }}</ion-option>
      </ion-select>
      <ion-input ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY/MM/DD" [(ngModel)]="reserva.fecha_inicio"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora Inicio</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" hourValues="'6,7,8,9,10,11,12,13,14,15,16,17,18,19'" minuteValues="'0'" [(ngModel)]="reserva.hora_inicio"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora Fin</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" hourValues="'6,7,8,9,10,11,12,13,14,15,16,17,18,19'" minuteValues="'0'" [(ngModel)]="reserva.hora_fin"></ion-datetime>
  </ion-item>  

  <button ion-button block clear (click)="addReserva(reserva)" *ngIf="flagButton === false">Guardar</button>
  <button ion-button block clear (click)="updateReserva(reserva)" *ngIf="flagButton === true">Actualizar</button>
  <button ion-button block clear (click)="removeReserva(reserva)" *ngIf="flagButton === true">Eliminar</button>

</ion-content>